@model IEnumerable<<AppName>.Models.<TableName>>

@{
    ViewBag.Title = "Title";
}

<h2>Title</h2>

<p>
    <a asp-controller="<TableName>" asp-action="Create">Create New</a>
</p>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.<KeyColumnName>)
                @Html.DisplayFor(modelItem => item.<ColumnName>)
            </td>
            <td>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { <KeyColumnName> = item.<KeyColumnName> }) |
                    @Html.ActionLink("Details", "Details", new { <KeyColumnName> = item.<KeyColumnName> }) |
                    @Html.ActionLink("Delete", "Delete", new { <KeyColumnName> = item.<KeyColumnName> })
                </p>
            </td>
        </tr>
    }
</table>
@for (var pg = 1; pg <= ViewBag.PageCount; pg++)
{
    if (pg == ViewBag.PageNumber)
    {
        @ViewBag.PageNumber
    }
    else
    {
        <a href="/<TableName>/Index?pageNumber=@pg">@pg</a>
    }


}
